*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.me{
background-color: #ddd;
  color: green;
  max-width: auto;
  height: 600px;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
}
.section{
  width: 100%;
  min-height: 100px;

}
.container{
  width: 80%;
  display:block;
  margin: auto;
  padding-top: 100px;
}
.content-section{
  float: left;
  width: 55%;
}
.image-section{
  float:right;
  width: 40%;
}
.image-section img{
  width: 100%;
  height: auto;
}
.content-section .button{
  margin-top: 30px;
}
.content-section .content h3{
  margin-top: 20px;
  color: #5d5d5d;
}
.content-section .content p{
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;

}
.content-section .social{
  margin-top: 30px;
}
.content-section .social i{
color: #a52a2a;
font-size: 35px;
padding: 0px 10px;
}
