*{
margin: 0;
padding: 0;

}
body{
  background: url("24S.jpg");
  background-size:cover;
  height: auto;
  font-family: "Roboto",sans-serif;

}
.container{
  max-width: 800px;
  height: 600px;
  background: #fff;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);

}
.container p{
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
  color: #486255;
  letter-spacing: 1px;
  }

  .input, .msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s ease;
  }
 .login .input{
   width: 48%;
   float: left;
   margin-right: 4px;
   }
   .msg .area{
     height: 200px;
   }
   .btn{
     width: 250px;
     background:#8C6824;
     height: 50;
     text-align: center;
     line-height: 50px;
     color: #4BABAB;
     text-transform: uppercase;
     margin-right: 0 auto;
     cursor: pointer;
     border-radius: 5px;
   }
   .input:focus,
   .msg .area:focus{
     border: 2px solid #486255;
}
.container.social{
  float:right;


}
.container .social i{
float:right;
padding:100px;
color: #a52a2a;
font-size: 35px;
padding: 0px 10px;
}
